{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1 class='text-black text-center text-4xl'>Sign In</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p class='text-center mt-4 font-semibold'>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}" class='text-blue-500 text-lg'>sign up</a> first.{% endblocktrans %}</p>
{% endif %}
<div class="text-center">
  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class=" text-left">
      <a class="button secondaryAction text-sm text-red-500 font-bold" href="{% url 'account_reset_password' %}">Forgot Password?</a>
    </div>
    <button class="primaryAction text-white mt-5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="submit">{% trans "Sign In" %}</button>
  </form>
</div>

{% endblock %}